{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    contact-sucess
{% endblock %}}


{% block body_block %}
<section class="page-section portfolio" id="kontakt-poruke">
    <div class="container">
        <!-- Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">HVALA</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-lightbulb" style="color: green"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
    <div class="container d-flex text-center align-items-center flex-column" style="color: green">
        <h2>Odgovorit ćemo u najkraćem mogućem roku!</h2>
        <br>
        <br>
        <br>
    </div>
</section>
{% endblock %}
