{% extends 'rango/minfin_base.html' %}
{% load static %}
{% load rango_template_tags %}
{% block body_block %}
<pre style="color: orange">
 Ballance:

  <img src="{{ MEDIA_URL }}bitcoin-symbol.png" height="20" width="20"> {{ user.portfolio.btc }}
  price {{ btc }} $

  <img src="{{ MEDIA_URL }}xmr.png" height="20" width="20"> {{ user.portfolio.xmr }}
  price {{ xmr }} $

  <img src="{{ MEDIA_URL }}apecoin.png" height="22" width="21"> {{ user.portfolio.ape }}
  price {{ ape }} $
</pre>
  <pre style="color: green">  ACC Value {{ acc_val }} $ </pre>
  <hr>
<pre>
    {{ user.portfolio.trades }}
</pre>
{% endblock %}
