<!DOCTYPE html>
{% load static %}

<html>

  <head>
    <title> Smart-Relay d.o.o</title>
  </head>

  <body>
    <h1>Smart-Relay d.o.o je tvrtka...</h1>
    <div>
      Pametna-Kuca, Elektro-instalacie...<br /> 
      <strong>{{ boldmessage }}</strong><br />
      <strong>{{ malamaca }}</strong><br />
    </div>

    <div>
      <a href="/rango/smart_house.html">Pametna-Kuća</a><br />
      <!-- static as a link to homepage -->
      <a href="/">
        <img src="{% static "images/logo.png" %}"
             alt="Smart-Relay d.o.o logo" />
      <a href="/rango/smart_house.html">
        <img src="{{ MEDIA_URL }}smart_house.png"
             alt="Smart-Relay d.o.o logo" />
      </a>
    </div>
  </body>


</html>
