{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
   Login
{% endblock %}

{% block body_block %}
<section class="page-section" id="login">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-lightbulb" style="color: green"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form id="login_form" method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                    <label for="username" class="form-label">Username:</label>
                    <Input class="form-control" type="text" name="username" value="" size="50" required id="username"/>
                    <br />
                    <label for="password" class="form-label">Password:</label>
                    <input class="form-control" type="password" name="password" value="" size="50" required id="password"/>
                    <br />
                    <input type="submit" value="Login" class="btn btn-l" style="background-color: green; color: white"/>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
